

header {
  display : flex;
  padding-inline : 16px;
  padding-block : 8px;
  margin: 0;
  background-color: #333;
  color : white;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

